In [5]:
#L4 FOR LOOP Practise
a=[1,2,3,4,5,6]

In [6]:
for i in a:
    print(i+5,type(i))

6 <class 'int'>
7 <class 'int'>
8 <class 'int'>
9 <class 'int'>
10 <class 'int'>
11 <class 'int'>

In [7]:
type(a)

list

In [2]:
a1=["dev","mishra","devesh",45,45.67,True]

In [3]:
for i in a1:
    print(i)
else:
    print("do something")
#else loop only get executed when for loop completely executed.

dev
mishra
devesh
45
45.67
True
do something

In [4]:
a1

['dev', 'mishra', 'devesh', 45, 45.67, True]

In [5]:
for i in a1:
    if i =="devesh":
        break
    print(i)

#after break fuction nothing will be executed.

dev
mishra

In [6]:
a1

['dev', 'mishra', 'devesh', 45, 45.67, True]

In [7]:
for i in a1:
    if i =="devesh":
        break #completely break.
    print(i)
else:
    print("execute this if for loop is able to complete itself")
#else function does not executed because for loop does not completely executed.

dev
mishra

In [8]:
for i in a1:
    if i =="devesh":
        continue #immediate send control to for loop,again then loop starts.
    print(i)
else: #else function will be exceuted because for loop will be completly executed.
    print("execute this if for loop is able to complete itself")

dev
mishra
45
45.67
True
execute this if for loop is able to complete itself

In [15]:
#continue function execute all other function except that element"devesh".

In [16]:
#range fuction shows the range excluding 6.
#it is type genrator function.it genrates the data.
range(20)

range(0, 20)

In [17]:
list(range(20)) #method of upper and lower bound.

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [18]:
#based on indexing and slicing concept
list(range(0,20,3))

[0, 3, 6, 9, 12, 15, 18]

In [19]:
list (range(0,24,3)) #excluding upperbound (24)
#0 is Starting
# 24 is end 
# 3 is jump

[0, 3, 6, 9, 12, 15, 18, 21]

In [20]:
list(range(-10,10,2))

[-10, -8, -6, -4, -2, 0, 2, 4, 6, 8]

In [21]:
a1

['dev', 'mishra', 'devesh', 45, 45.67, True]

In [22]:
a2=['dev','mishra','anurag','golu','molu']

In [23]:
a2

['dev', 'mishra', 'anurag', 'golu', 'molu']

In [24]:
len(a2)

5

In [25]:
#shows the index of the number.
list(range(len(a2)))

[0, 1, 2, 3, 4]

In [26]:
  for i in range(len(a2)):
        print(a2[i])

dev
mishra
anurag
golu
molu

In [27]:
#taking out data in negative direction.
list(range(len(a2)-1,-1,-1))

[4, 3, 2, 1, 0]

In [28]:
for i in range(len(a2)-1,-1,-1):
    print(a2[i])

molu
golu
anurag
mishra
dev

In [29]:
#taking out data which are even index
a3=[2,45,67,89,98,76,54,32,56,78,65,85,88]

In [30]:
list(range(0,len(a3),2))
#list of element which are at even index.

[0, 2, 4, 6, 8, 10, 12]

In [49]:
for i in range(0,len(a3),2):
    print(a3[i])

2
67
98
54
56
65
88

In [52]:
#summation of all the element present in the list.
a3

[2, 45, 67, 89, 98, 76, 54, 32, 56, 78, 65, 85, 88]

In [53]:
sum(a3)

835

In [59]:
result=0
for i in a3:
    result=result+i
result

835

In [11]:
#also works in tupple
t=(2,3,4,56,7,8,9,0,76,54,3,2)

In [12]:
result=0
for i in t:
    result=result+i
result

224

In [13]:
a1

NameError: name 'a1' is not defined

In [14]:
q='devesh'

In [15]:
for i in q:
    print(i)

d
e
v
e
s
h

In [9]:
#loop works in all the format (sets,tupples,list,dictionary)

In [17]:
d={'name':'dev','class':'data science master',
  'topic':['python','stats','machine learning','DL','cl','NLP','interviewe']}

In [18]:
d

{'name': 'dev',
 'class': 'data science master',
 'topic': ['python',
  'stats',
  'machine learning',
  'DL',
  'cl',
  'NLP',
  'interviewe']}

In [19]:
d.keys()

dict_keys(['name', 'class', 'topic'])

In [20]:
for i in d.keys():
    print(d[i])

dev
data science master
['python', 'stats', 'machine learning', 'DL', 'cl', 'NLP', 'interviewe']

In [21]:
d.values()

dict_values(['dev', 'data science master', ['python', 'stats', 'machine learning', 'DL', 'cl', 'NLP', 'interviewe']])

In [25]:
for i in d.values():
     print(i)

dev
data science master
['python', 'stats', 'machine learning', 'DL', 'cl', 'NLP', 'interviewe']

In [27]:
d.items()

dict_items([('name', 'dev'), ('class', 'data science master'), ('topic', ['python', 'stats', 'machine learning', 'DL', 'cl', 'NLP', 'interviewe'])])

In [28]:
for i in d.items():
    print(i)

('name', 'dev')
('class', 'data science master')
('topic', ['python', 'stats', 'machine learning', 'DL', 'cl', 'NLP', 'interviewe'])

In [2]:
a2

NameError: name 'a2' is not defined