#GENRATOR FUNCTION

In [5]:
#genrator function is a special type of function
#genrator func give outcome one by one not all together

In [6]:
range(10)

range(0, 10)

In [7]:
for i in range(10):
    print( i)

0
1
2
3
4
5
6
7
8
9

In [8]:
#yield function is used as genrator function
def test_fabi(n):
    a,b=0,1
    for i in range(n):
        yield a #yield function is used as return function and used in genrator function
        a,b=b,a+b

In [9]:
test_fabi(10)

In [10]:
for i in test_fabi(10):
    print(i)

0
1
1
2
3
5
8
13
21
34

In [11]:
#with help of while loop
def test_fibi1():
    a,b=0,1
    while True: #True represents the correctness of the function
        yield a #yield function is used return function
        a,b=b,a+b

In [12]:
fib=test_fibi1()

In [13]:
for i in range(10):
    print(next(fib)) # NEXT function is used to iterate data one by one

0
1
1
2
3
5
8
13
21
34

In [14]:
a="devesh"

In [15]:
for i in a:
    print(i)

d
e
v
e
s
h

In [16]:
a

'devesh'

In [17]:
next(a)  #'str' object is not an iterator

TypeError: 'str' object is not an iterator

In [18]:
#String function is iterable but it is not a itrerator
#those which iterable that only can be iterated and can not iterrate itnerger complex no. etc
a1=iter(a)
#iter function is used to convert it into iterator

In [19]:
next(a1)

'd'

In [25]:
type(a1) #type of iter function

str_iterator

In [26]:
next(a1)

'v'

In [27]:
next(45)

TypeError: 'int' object is not an iterator

In [28]:
def count_test(n):
    count=1
    while count < n:
        yield count
        count =count+1

In [30]:
c=count_test(7) #obhect of thee function

In [31]:
for i in c:
    print(i)

1
2
3
4
5
6

In [32]:
type(c)

generator

In [33]:
#YIELD AND RETURN function are almost same they both are different in ony giving output of data